<div class="container">
  <section class="main-header">
    <img src="race.jpg" class="img-responsive img-circle">
  </section>
  <section class="about">
    <h1>Blog_appについて</h1>
    <p>Bootstrapシリーズ課題で作成したアプリにログインシステムを追加しました。また、お気に入りの機能も実装しています。<br>このアプリに各カリキュラムの機能を追加していきます。</p>

    <p>Blogのお題は自転車に関する話題です。最近は、殆ど乗れていませんが、自転車が好きな方がいましたお気軽にお願いします。</p>
  </section>
<article>
  <h1>News</h1>
    <div class="content">
      <ul class="row bg-success">
        <li class="col-xs-12 col-sm-6 col-md-3">クリストファー・フルーム（イギリス、チームスカイ）のドーピング陽性が世間に公表されたのは12月13日。イギリス、フランスの各紙がフルームの陽性を報じ、UCIとチームスカイが正式に事実を認めた。</li>
        <li class="col-xs-12 col-sm-6 col-md-3">12月9日と10日の2日間、長野県の野辺山高原で第23回シクロクロス全日本選手権が開催された。男子エリートの優勝者は小坂光（宇都宮ブリッツェンシクロクロスチーム）</li>
        <li class="col-xs-12 col-sm-6 col-md-3">2017年ツール・ド・おきなわ市民210kmに優勝は高岡亮寛(Roppongi Express)。3連覇・5勝目の達成</li>
        <li class="col-xs-12 col-sm-6 col-md-3">スーパープレスティージュ2017-2018第5戦。極悪マッドコンディションのガーフェレ　世界王者ファンアールトが逆転勝利</li>
      </ul>
    </div>
  </article>
  <article>
  <h1>レース＆イベント</h1>
    <div class="event">
      <ul class="row bg-primary">
        <li class="col-xs-6 col-lg-4">第10戦	12/24(日)	関西シクロクロス	烏丸半島</li>
        <li class="col-xs-6 col-lg-4">第11戦	1/21(日)	東海シクロクロス	愛知牧</li>
        <li class="col-xs-12 col-lg-4">第12戦	2/11(日)	シクロクロス東京	お台場海浜公園</li>
      </ul>
    </article>
  </div>

